pipeline/Ingest_Bronze_AirPollution_API.json
{
	"name": "Ingest_Bronze_AirPollution_API",
	"properties": {
		"activities": [
			{
				"name": "Get_Historical_AirPollutionData",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://ds598-homework-vault.vault.azure.net/secrets/Open-Weather-API-Key?api-version=7.0",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Copy Air Pollution Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get_Historical_AirPollutionData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "FlattenHierarchy"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "RestResource2",
						"type": "DatasetReference",
						"parameters": {
							"lat": 42.3601,
							"lon": -71.0589,
							"start": "@div(sub(ticks(addDays(utcNow(), -366)), ticks('1970-01-01T00:00:00Z')), 10000000)",
							"end": "@div(sub(ticks(addDays(utcNow(), -1)), ticks('1970-01-01T00:00:00Z')), 10000000)",
							"appid": "@activity('Get_Historical_AirPollutionData').output.value"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Json3",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": []
	}
}